# Core LangChain packages
langchain
langchain-core

# LangGraph
langgraph

# Pydantic
pydantic

# OpenAI integration (GPT-4, GPT-4o)
langchain-openai
openai

# Anthropic integration (Claude 3)
langchain-anthropic
anthropic

# Google Gemini integration (Gemini Pro / Flash)
langchain-google-genai
google-generativeai

# Groq integration (Groq)
langchain-groq
groq

# Data processing
pandas
PyPDF2

# Optional: for improved dev type checking
typing-extensions

# Environment variables
python-dotenv

# for streamlit
streamlit

# for classification model
torch
torchvision
numpy
PIL
